body,
code {
  margin: 0;
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button {
  cursor: pointer;
}

#root {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: radial-gradient(rgba(255, 255, 255, 0.3) 66%, rgba(255, 255, 255, 0.7)), url('./assets/cookie.jpg');
}

.fortune {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.fortune-text {
  font-weight: normal;
  text-shadow: #f58b6c 2px 2px;
}

.fortune-reset {
  position: fixed;
  bottom: 10px;
  right: 10px;
  font-size: 1.5rem;
  border-color: transparent;
  background: transparent;
}

.fortune-reset:focus {
  outline: dotted 1px #f58b6c;
}

@media screen and (max-width: 768px) {
  .fortune {
    width: 80%;
  }
}
